chardet==5.2.0
loguru==0.7.3
pandas==2.2.3
python_Levenshtein==0.27.1
requests==2.32.3
spacy==3.8.5
prance==23.6.21.0
openapi-schema-validator==0.6.3
openapi-spec-validator==0.6.0
openapi3-parser==1.1.19